.App {
  text-align: center;
  display: block;
  width: 90%;
  height: 10%;
  margin: calc(50vh - 10%) auto;
}
.botao {
  padding: 1rem;
  font-size: 25px;
  background-color: white;
  border: none;
  border-radius: 10px;
}